# variables related to th e llm instance
LLM_URL=localhost      # cahnge me
LLM_API_KEY=my-api-key # change me
LLM_MODEL=my-model     # change me 
# Application
APP_NAME=Decision Service
DEBUG=false

# Database (SQLite)
DB_PATH=/app/data/decision.db

# Service
PORT=8000

# Decisions
BLACKLIST_ENABLED=true

# Kafka
KAFKA_HOST=kafka
KAFKA_PORT=9092
KAFKA_INPUT_TOPIC=network.ml.results
#KAFKA_ENABLED=  # true by default
#KAFKA_DEBOUNCE_SECONDS=  # 60 by default
