# variables related to th e llm instance
LLM_URL=localhost      # cahnge me
LLM_API_KEY=my-api-key # change me
LLM_MODEL=my-model     # change me 
# Application
APP_NAME=Decision Service
DEBUG=false

# Database (SQLite)
DB_PATH=/app/data/decision.db

# Decisions
DEFAULT_DECISIONS=["ALLOCATE X", "SUBVERT Y", "ABDUCT Z"]
BLACKLIST_ENABLED=true
